.header {
    background: $light-grey;
}

.header__content {
    align-items: center;
    display: flex;
    height: 7vh;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: $dark-blue;
    // clear default text decoraions
    text-decoration: none;
    
    h1 {    
        margin: 0;
    }
}

.profile-picture {
    height: 50px;
    border-radius: 50%;
}
