.header {
    background: $dark-blue;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: white;
    // clear default text decoraions
    text-decoration: none;
    
    h1 {    
        margin: 0;
    }
}

.header__dropdown-toggle {
    font-size: $m-size;
}

.header__menu {
    font-size: $m-size;
    padding: 0;

    .item {
        font-weight: bold;
    }
}

.profile-picture {
    height: 50px;
    border-radius: 50%;
}
