.user-profile__cover {
    background: $light-grey;
    height: 30rem;
    margin-bottom: $s-size;
    border: 1px solid green;
}

.user-profile__username {
    font-size: $xl-size;
}

.user-profile__profession {
    font-size: $l-size;
}